* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
    
  }
  
:root{
    --red: #F26419;
    --orange: #F6AE2D;
    --dark-blue: #3261B9 ;
    --light-blue: #86BBD8;
    --dark: #2F4858;
    --green: #3FDAA0;
    --white :#FFFFFF;
}
.logo {
    display: inline-block;
    vertical-align: middle;
}

.round-logo {
  max-width: 120px; /* Adjust the size of the logo as needed */
  vertical-align: middle;
  border-radius: 30%; /* Creates a round shape */
}

.logo-title {
  display: inline-block;
  margin-left: 10px; /* Adjust the spacing between the logo and title */
  font-size: 36px; /* Adjust the font size as needed */
  margin-top: 30px;
}

.center__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1{
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--dark);
}

p{
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 22px;
    margin: 2rem 0;
    color: var(--dark);
}

a{text-decoration: none;}

ul li{list-style: none;}

#landing__area{
    width: 100%;
    height: 70vh;
    background: url(imgs/bg.jpg);
    background-position: center;
    background-size: cover;
}

#landing__area nav{
    height: 10%;
    width: 80%;
}
nav .logo{
    color: var(--green);
}

nav a{
    color: var(--light-blue);
    margin: 0 20px;
}

  
  
  .calendar {
    background: #2b4450;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    height: 501px;
    perspective: 1000;
    transition: .9s;
    transform-style: preserve-3d;
    width: 100%;
  }
  
  /* Front - Calendar */
  .front {
    transform: rotateY(0deg);
  }
  
  .current-date {
    border-bottom: 1px solid rgba(73, 114, 133, .6);
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
  }
  
  .current-date h1 {
    color: #dfebed;
    font-size: 1.4em;
    font-weight: 300;
  }
  
  .week-days {
    color: #dfebed;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 30px 40px;
  }
  
  .days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .weeks {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  }
  
  .weeks div {
    display: flex;
    font-size: 1.2em;
    font-weight: 300;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .last-month {
    opacity: .3;
  }
  
  .weeks span {
    padding: 10px;
  }
  
  .weeks span.active {
    background: #f78536;
    border-radius: 50%;
  }
  
  .weeks span:not(.last-month):hover {
    cursor: pointer;
    font-weight: 600;
  }
  
  .event {
    position: relative;
  }
  
  .event:after {
    content: '•';
    color: #f78536;
    font-size: 1.4em;
    position: absolute;
    right: -4px;
    top: -4px;
  }
  
  /* Back - Event form */
  
  .back {
    height: 100%;
    transform: rotateY(180deg);
  }
  
  .back input {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(73, 114, 133, .6);
    color: #dfebed;
    font-size: 1.4em;
    font-weight: 300;
    padding: 30px 40px;
    width: 100%;
  }
  
  .info {
    color: #dfebed;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.2em;
    padding: 30px 40px;
  }
  
  .info div:not(.observations) {
    margin-bottom: 40px;
  }
  
  .info span {
    font-weight: 300;
  }
  
  .info .date {
    display: flex;
    justify-content: space-between;
  }
  
  .info .date p {
    width: 50%;
  }
  
  .info .address p {
    width: 100%;
  }
  
  .actions {
    bottom: 0;
    border-top: 1px solid rgba(73, 114, 133, .6);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }
  
  .actions button {
    background: none;
    border: 0;
    color: #fff;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0;
    padding: 30px 0;
    text-transform: uppercase;
    width: 50%;
  }
  
  .actions button:first-of-type {
    border-right: 1px solid rgba(73, 114, 133, .6);
  }
  
  .actions button:hover {
    background: #497285;
    cursor: pointer;
  }
  
  .actions button:active {
    background: #5889a0;
    outline: none;
  }
  
  /* Flip animation */
  
  .flip {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    backface-visibility: hidden;
  }
  

/* FOOTER */
footer{
    background-color: var(--dark-blue);
}

.footer__cont{
    width: 60%;
    margin: auto;
}

.footer__cont p{
    color: var(--white);
}

.footer__cont .fab{
    color: var(--light-blue);
    font-size: 20px;
    margin: 0 10px;
}

